@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway&display=swap');

:root {
    /*PALETTE*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /*TYPOGRAPHY*/
    --base-font: "inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /*FONT-SIZE*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3.0em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*SPACINGS*/
    --spacings-128: 12.8rem;
    --spacings-68: 6.8rem;
    --spacings-36: 3.6rem;
    --spacings-28: 2.8rem;
    --spacings-16: 1.6rem;
    --spacings-12: 1.2rem;
    --spacings-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%; /* NORMALIZAR ESTILOS ESTO HACE QUE 1EM SEA 10PX (VALE 16PX)*/
    color: var(--dark-solid);
}

#prev {
    font-size: 100%;
}

body {
    overflow-x: hidden;
}


header {
    width: 1440;
    height: 144px;
    background-color: #30343f;
    display: flex;
    justify-content: space-between;

}

header>div {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    margin: 50px;
    gap: 20px;
}

div.banner {
    width: 100%;
    height: 388px;
}

.banner {
    background-image: url(multimedia/banner-edit.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

div.banner div {
    width: 397px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10%;
    margin-left: 100px;
}

.banner h2,
p {
    font-family: var(--alternative-font);
}

.banner h2 {
    color: #FFFFFF;
    width: 38px;
    font-size: 3.8em;
    line-height: 44.61px;
    font-weight: 700;
    display: contents;
}

.banner p {
    width: 400px;
    font-size: 1.8em;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 21.13px;
}

.banner button {
    margin-top: 50px;
    margin-left: 100px;
    width: 211px;
    height: 47px;
    background-color: #f5f5f5;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.banner button>p {
    text-align: center;
    font-family: var(--base-font);
    font-weight: 500;
    

}

.banner button>p>a {
    color: #111111;    ;
    font-size: 2.0rem;
}

a {
    text-decoration: none;
    font-size: 19px;
    font-family: var(--base-font);
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;

}

div.reflejos {
    max-width: 1220px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

div.reflejos h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 4.6rem;
    line-height: 54px;
}

div.reflejos p {
    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: 2.4em;
    margin-top: 10px;
    line-height: 28.18px;
}

div.dados {
    width: 645px;
    height: 300px;
}

.parDados {
    color: #4F4F4F;
    border-bottom: 3px solid rgb(218, 123, 0);
    padding-bottom: 25px;

}

div p.btnDados {
    background-color: #30343f;
    color: #f5f5f5;
    height: 65px;
    width: 291.81px;
    margin-top: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2.4em;
    font-family: var(--base-font);
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
}

div.lanzamientos {
    text-align: center;
    margin: 30px;
    margin-bottom: 170px;
    margin-left: 30px;
}

.lanzamientos h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.6rem;
    text-align: left;
    margin-left: 100px;
}

div.lanzamientos img {
    width: 350px;
    height: 360px;
}

div.lanzCard {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    height: 400px;
    margin-left: 50px;
}

h3.producto {
    font-family: var(--base-font);
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    line-height: 21.78px;
}


p.pago {
    color: var(--secondary-solid);
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
}

footer {
    width: 100%;
    height: 343px;
    background-color: #30343f;

}

footer li {
    margin-bottom: 05px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #f5f5f5;
}

footer img {
    height: 146px;
    width: 143px;
}

footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 23.48px;
    font-size: 20px;
    color: #f5f5f5;
    padding-bottom: 20px;
    margin-top: 50px;
}
footer span{
    padding-top: 24px;
    margin-top: 75px;
    margin-right: 100px;
}

footer ul {
    margin-left: 100px;
    margin-top: 135px;
    text-align: left;
    padding-top: 25px   ;
}

div>img.logo {
    width: 80px;
    height: 65px;
}

div>img.vector {
    width: 270px;
    height: 30px;
}

header>ul {
    display: flex;
    color: #f5f5f5;
    justify-content: space-around;
    align-items: center;
    margin-top: 54px;
    margin-right: 30px;
    padding: 5px 5px;
    width: 406px;
    height: 31px;
}

ul>li {
    font-family: var(--alternative-font);
    font-weight: 500;
    cursor: pointer;
    line-height: 23.48px;
    font-size: 20px;
    text-align: left;
}
ul>li label{
    font-family: var(--base-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

ul>li>span {
    font-size: .5rem;
    vertical-align: 20%;
}

ul>li>a {
    color: #f5f5f5;
}

/* ITEMS */
/*
main {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin: 40px auto;
    align-items: center;
    text-align: right;
}
*/
.contenedor-items {
    display: grid; 
    grid-template-columns: 20% 80%; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
}
aside{
    width: 243.03px;
}

form{
    width: 243px;
    text-align: left;
    margin-left: 80px;
    margin-top: 68px;
}

.filtro{
    width: 5px;
    
}
input{
    border: 2px solid var(--dark-solid);

}
.precio{
    width: 88.97px;
    height: 19px;
}
.selection, .browser{
    width: 243.03px;
    height: 44.28px;
    border-radius: 6px;
}
section.infos {
    font-family: 'Inter', sans-serif;
    display: flex;    
    justify-content: space-around;
    align-items: center;

}
article img {
    width: 550px;
    height: 550px;

}

section p.coleccion-info {
    font-size: 14px;
    font-weight: 500;
}
p.producto-info {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 5px 0 20px 0;
}

p.descripcion-info {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

p.precio-info {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
}

section div.cantd-prod {
    gap: 10px;
    display: flex;
    width: 350px;
    height: 40px;
    align-items: center;
}

.cantd-prod span {
    font-size: 1.8rem;
    font-weight: 300;
}

div.cantidad {
    display: flex;
    flex-direction: column;
}

div button.mas {
    width: 18px;
    height: 16px;
    text-align: center;
}

div button.menos {
    width: 18px;
    height: 16px;
    text-align: center;
}

button.agregar {
    width: 140px;
    height: 35px;
    background-color: #FF3333;
    border-color: transparent;
    color: #f5f5f5;
}

p.pago-info {
    color: #1D84B5;
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 10px;
}

section.producto-rel {
    width: 1220px;
    height: 630px;
    margin: auto;

}

.producto-rel h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.6rem;
}

div.productosCards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

section.card {
    display: flex;
    position: relative;
    justify-content: center;
}

p.cajaNuevo {
    font-family: var(--base-font);
    color: #FFFFFF;
    height: 30px;
    width: 96.13px;
    font-weight: 500;
    background-color: #FF3333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.4em;
    line-height: 16.94px;
    top: 0%;
    left: 75%;
}

div p {
    text-align: left;
    font-family: var(--base-font);
    font-weight: 500;
}

p.coleccion {    
    font-size: 1.4rem;
    line-height: 21.78px;
}

p.producto {
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 5px;

}

p.precio {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 19.36px;
}


/* CARRITO */
.main-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.titulo-carrito {
    color: #111111;
    width: 506px;
    height: 62px;
    font-family: var(--alternative-font);
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 5px solid var(--primary-solid);
    margin-top: 128px;
}

.barra-carrito {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-around;
    width:  1220px;
    height: 51px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px #00000040;
    
    margin-bottom: 20px;
    margin-top: 40px;

}
.barra-carrito p {
    font-family: var(--base-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.div-carrito {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    height: 195px;
    border-radius: 25px;
    background-color: #FAFAFF;
    box-shadow: 0px 0px 10px 0px #00000040;
    align-items: center;
    padding: 16px;
    margin-top: 20px;
}
.card-carrito {
    display: flex;
    align-items: center;
    text-align: right;
}
.card-carrito img {
    width: 118.76px;
    height: 118px;
}
.card-input {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.card-input p {
    width: 89.48px;
    height: 40px;
    font-family: var(--base-font);
    font-weight: 700;
    font-size: var(--font-medium);
    text-align: center;
    padding: 5px;
    border: 0.5px solid #C9C9C9;

}
.cantidad .agregar {
    width: 18px;
    height: 16px;
    text-align: center;
    margin: 3px;
}
.precio-card {
    font-family: var(--base-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 120px;
}

.div-carrito img.btn-cancel{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

div.contenedor-resumen{
    display: flex;
    width: 1220px;
    justify-content: flex-end;    
}

section.resumen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;

}

.resumen h1{
    width: 224px;
    height: 54px;
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-display);
    border-bottom: 5px solid var(--primary-solid);
    margin-bottom: 20px;

}

.cuadro-resumen{
    background-color: var(--light-bg-solid);
    box-shadow: 0px 0px 10px 0px #00000040;
    width: 572px;
    height: 197px;
    border-radius: 10px;
    padding: 24px;
    gap: 20px;

}

.cuadro-resumen div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: var(--base-font);
    margin: 10px 0 20px 0;
}

.cuadro-resumen > div h4{
    font-size: var(--font-small);
    font-weight: 600;
    color: var(--dark-solid);
}

.cuadro-resumen > div p{
    font-size: var(--font-small);
    font-weight: 600;
    color: #747474;
}

.tot-resumen{
    padding: 8px 0 0 0;
    border-top: 2px solid var(--primary-solid);
}

div.tot-resumen h4{
    font-size: var(--font-medium);
    font-weight: 700;
}

div.tot-resumen p{
    font-size: var(--font-medium);
    font-weight: 700;
}
.resumen button{
    margin-bottom: 100px;
}

button.camino-pago-btn{
    width: 572px;
    height: 68.66px;
    margin-top: 40px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    border: transparent;
}

/* login */

main.main-login{
    display: flex;
    flex-direction: column;
    width: 515px;
    height: 289px;
    margin: 30px auto 10px auto;
}

h1.titulo-login{
    width: 515px;
    height:1px;
    font-size: 42px;
    font-weight: 700;
    font-family: var(--alternative-font);
    text-align: center;

}

.main-login form{
    font-family: var(--base-font);
    font-weight: 400;
    width: 515px;
    height: 289px;
    margin-left: auto;
    
} 

div.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 20px;
    width: 383px;
    height: 98px;
}

.form-login div{
    width: 380px;
    height: 30px;
    text-align: center;
}

.form-login p{
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    
}

.form-login input{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-solid);
    font-size: 16px;
    padding: 5px;
    
}

.login-email{
    display: flex;
    justify-content: space-between;
}

.login-password{
    display: flex;
    justify-content: space-between;
}


div.footer-login{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.login-btn{
    width: 103px;
    height: 39px;
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    border: transparent;
    border-radius: 0px;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--base-font);
    cursor: pointer;
}

.check-footer-login{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-xsmall);
    font-weight: 400;
    font-family: var(--base-font);

}

form > p{
    display: flex;
    justify-content: space-around;
    color: var(--secondary-solid);
    font-size: var(--font-xsmall);
    font-weight: 400;
    font-family: var(--base-font);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

/* register */

main h1,h2, main form div {
    text-align: center;
}

main form .container-form input {
    outline: none;
    border-color: #ffffff #ffffff red #ffffff;
    border-style: solid;
}

main form button {
    font-family: var(--base-font);
    background-color: red;
    border: none;
    width: 103px;
    height: 39.06px;
    color: #ffffff;
    margin-right: 20px;
}

main.main-register{
    display: flex;
    flex-direction: column;
    height: 526px;
}
main.main-register .form-register{
    margin: 30px auto;
    width: 457px;
}
.button-check-register{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
div.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 5px;
}
.form-register label{
    display: flex;
    justify-content: space-between;
    font-family: var(--base-font);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.04em;
    text-align: left;
}
.form-register label input {
    width: 208.99px;
    height: 25.18px;
    font-family: var(--base-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.04rem;
    text-align: left;
    color: #B9B9B9;

}
.main-register h2 {
    font-family: var(--alternative-font);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.04rem;
}
.main-register h1 {
    font-family: var(--alternative-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.04rem;
}
.button-check-register p{
    margin-left: 5px;
    font-family: var(--base-font); 
    font-size: 1.8rem; 
    font-weight: 400; 
    line-height: 22px; 
    letter-spacing: 0rem;
    color: #1F1F1F
}


/* -------    CREATE.HTML   ----------   */

.main-create section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 827.63px;
    height: 669.3px;
    left: 115.55px;
    margin-top: 36px;
}
.titulo-create {
    width: 431px;
    height: 49px;
    font-family: var(--alternative-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.04rem;
    text-align: left;
    color: #1F1F1F;
}
.categoria-licencia {
    height: 44.28px;
    width: 827.63px;
    display: flex;
    justify-content: space-between;
    font-family: var(--base-font);
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 29px;
    text-align: left;
}
.categoria-licencia label {
    height: 44.28px;
    width: 387.29px;
}
.categoria-licencia label select {
    margin-left: 15px;
}
.nombre-producto {
    width: 581.06px;
    height: 29px;    
}
.nombre-producto label {
    width: 267px;
    height: 27.36px;
    font-family: var(--base-font);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.04rem;
    text-align: left;
}
.nombre-producto label input {
    width: 296px;
    height: 27.36px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-solid);
    font-size: 16px;
    margin-left: 20px;
}
.main-create textarea {
    width: 827.63px;
    height: 194.83px;
    border-radius: 4px;
    border: 1px solid var(--dark-bg-solid);
    font-family: var(--base-font);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04rem;
    text-align: left;

}
.sku-precio-stock {
    height: 29px;
    width: 662.4px;   
}

.sku-precio-stock label {
    font-family: var(--base-font);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.04rem;
    text-align: left; 
    width: 79px;
    height: 29px;   
}
.sku-precio-stock label input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--primary-solid);
    font-size: 1.6rem;
    padding: 5px;
    width: 130.26px;
    height: 27.36px;
    margin-right: 40px;
    margin-left: 10px;
}
.sku-precio-stock label select {
    margin-left: 15px;
    width: 333px;
    height: 44px;
}

.agregar-limpiar {
    position: relative;
    left: 115.55px;
    margin-bottom: 40px;
    width: 403px;
    height: 44.33px;
}
.agregar-limpiar button {
    width: 175px;
    height: 44.33px;
    font-family: var(--base-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0rem;
    margin-right: 25px;
    background: #FF3333;
    border: none;
    color: white;
}
.div-label {
    width: 243.03px;
    height: 44.28px;
    border-radius: 6px;
}
.cargar-archivo {
    display: flex;
    align-items: center;
    width: 519.73px;
    height: 29px;
}
.cargar-archivo label {
    width: 125px;
    height: 29px;
    font-family: var(--base-font);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.04rem;
    text-align: right;
}
.cargar-archivo button {
    width: 125.24px;
    height: 25.29px;
    border-radius: 3px;
    border: 1px solid #30343FB2;
    margin-left: 5px;
}
.cargar-archivo button a{
    font-family: Arial;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04rem;
    text-align: right;
    color: #1F1F1F;
}
.cargar-archivo p {
    width: 257px;
    height: 16px;
    font-family: arial;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04rem;
    text-align: right;
    color: #1F1F1F;
}
